.pipeline-vertical {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: auto;
}

.pipeline-arrows {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: visible;
}

.stage {
  display: flex;
  justify-content: start;


  // If the children are an only child, center it.
  & > * {
    margin: auto;
  }

  width: 100%;
}

.stage-cards {
  display: flex;
  gap: 1rem;
}

.stage-card {
  background: #f3f2f1; // GOV.UK light grey
  border: 1px solid #b1b4b6;
  border-radius: 0;
  min-width: 200px;
  max-width: 250px;
  padding: 0.75rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  word-break: break-word; // wrap long IPs
}

.stage-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.stage-card-body {
  font-size: 0.8rem;
}
